.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #ff4b4b;
  animation-name: change-color;
  animation-duration: 8s;
  font-family: 'Comfortaa', sans-serif;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

.json_info {
  margin-left: 15px;
}

@keyframes change-color {
  from {
    background-color: #ff4b4b;
  }
  50% {
    background-color: #c82b2b;
  }
  to {
    background-color: #ff4b4b;
  }
}

.user_list {
  width: 750px;
  height: auto;
  background-color: #a30000;
  display: flex;
  border-radius: 15px;
  padding-top: 15px;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.snow {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  width: 700px;
  font-size: 30px;
  color: white;
  background-color: #d60101;
  border-radius: 15px;
  margin-top: 15px;
  animation: animatedBackground 10s linear infinite;
}

.snow > p {
  margin-left: 25px;
}

.logo_name {
  font-size: 100px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  letter-spacing: 10px;
  margin-left: 15px;
  margin-right: 5px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list {
  color: white;
  font-size: 50px;
}

.hat {
  width: 200px;
  height: 200px;
}



